# Node modules
node_modules/

# Build output
artifacts/
cache/
typechain/
coverage/
dist/

# Hardhat local network state
deployments/
*.log

# Dotenv files (if used)
.env
.env.*

# VS Code settings (optional)
.vscode/

# OS / Editor system files
.DS_Store
Thumbs.db

# Hardhat config cache
hh-cache/

# Lint and formatting
.prettiercache
